@inherits UmbracoViewPage<Lecoati.LeBlender.Extension.Models.LeBlenderModel>
@using FormPackage6.Core.DomainModel.Form;
@{
    if (Model != null)
    {

        Field field = AutoMapper.Mapper.Map<Field>(Model.Items.FirstOrDefault());
        <div class="manaoformBackoffice">
            <div class="form-field">
                <label class="field-label">@field.Name</label>
            </div>
        </div>
    }
}

@*@{
    foreach (var item in Model.Items)
    {
        string name = FieldService.GetLeBlenderValueFieldValue(item, "name");
        <div class="manaoformBackoffice">
            <div class="form-field">
                <label class="field-label">@name</label>
            </div>
        </div>
    }
}*@
