<div data-ng-controller="ToggleBoxSliderController">
    <div class="toggleSwitch">
        <button type="button" class="btn btn-success leftLabel {{model.leftActiveClass}}" data-ng-click="setTrue()">{{model.config.onlabel}}</button>
        <button type="button" class="btn btn-danger rightLabel {{model.rightActiveClass}}" data-ng-click="setFalse()">{{model.config.offlabel}}</button>
    </div>
    <div class="slide-container" data-ng-show="model.value.state">
         <div class="slider-wrapper">
            <input type="range" class="range-slider" min="0" max="10" step="1" value="{{range}}" data-ng-model="range" data-ng-change="rangeChange()">
        </div>
        <output class="slider-value">{{model.value.priority}}</output>
    </div>
</div>

