.toggleSwitch .leftLabel {
    min-width:80px;
    border-bottom-left-radius:15px;
    border-top-left-radius:15px;
    display: inline-block;
    text-align:center;
    cursor:pointer;
     padding:5px 10px;
     color:#fff;
     opacity:0.3;
     background:grey;
}
.toggleSwitch .rightLabel {
    min-width:80px;
    border-bottom-right-radius:15px;
    border-top-right-radius:15px;
    display: inline-block;
    text-align:center;
    cursor:pointer;
    padding:5px 10px;
    margin-left: -6px;
    color:#fff;
    opacity:0.3;
     background:grey;
}
.toggleSwitch .rightLabel.active {
    opacity:1;
    background: #bd362f;
}
.toggleSwitch .leftLabel.active {
    opacity:1;
    background: #53a93f;
}
.toggleSwitch .rightLabel:hover {
    opacity:1;
    background: #bd362f;
}
.toggleSwitch .leftLabel:hover {
    opacity:1;
   background: #53a93f;
}